@keyframes pulse {
  from {
    scale: 1;
    transform-origin: center;
  }
  to {
    scale: 1.05;
    transform-origin: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}