*,
*::after,
*::before {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 2px;
}

body {
  margin: 0 auto;
  max-inline-size: 1980px;
  min-block-size: 100dvb;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

.button,
input {
  background-color: transparent;
  border: none;
  color: var(--main-color);
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;
  white-space: nowrap;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.uppercase {
  text-transform: uppercase;
}

.is-active {
  background-color: rgba(255, 121, 148, 0.4);
  transition: all .2s ease;
  cursor: default;
}

.is-active .main__menu__button-text {
  opacity: 1;
  transition: all .2s ease;
}

img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}