.main__places {
  margin-block-start: 30px;
  margin-inline-start: 135px;
  margin-inline-end: 135px;
  padding: 30px;
  block-size: 77dvb;
  background-color: #FFEAF5;
  overflow: auto;
  scrollbar-width: none;
  border-radius: 50px;
}

.places:not(:last-child) {
  margin-block-end: 50px;
}

.places__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  grid-gap: 20px 18px;
  margin-block-start: 30px;
}

@media screen and (max-width: 721x) {

}

.places__title {
  font-size: var(--big-font-size);
  font-weight: var(--bold);
  margin-block-end: 30px;
  display: flex;
}