.popup-filter {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.popup {
  padding: 50px;
  block-size: 600px;
  inline-size: 1100px;
  background-color: rgba(231, 233, 241, 1);
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
}

.title-box {
  font-size: 40px;
  margin-block-end: 30px;
  margin-block-start: 50px;
}

.number {
  font-size: 30px;
  margin-block-end: 10px;
}


.number .tel {
  font-size: 25px;
}

.popup__box {
  display: flex;
  gap: 30px;
}

.popup__close {
  block-size: 50px;
  inline-size: 50px;
  border-radius: 50px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

.places-list__gallery {
  background-color: rgba(0, 0, 0, .5);
  block-size: 100%;
  inline-size: 500px;
  border-radius: 30px;
}

.popup__pay {
  border-color: transparent;
  background-color: transparent;
  color: #373636;
  opacity: .7;
  border-radius: 24px;
  margin-inline-start: 25%;
  margin-block-start: 120px;
  font-size: 40px;
  transition: all .2s ease;
}

.popup__pay:hover {
  opacity: 1;
  transition: all .2s ease;
}

.popup__image {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

@media (min-width: 826px) and (max-width: 1100px) {
  .popup {
    padding: 40px;
    block-size: 500px;
    inline-size: 900px;
  }
  
  .title-box {
    font-size: 35px;
    margin-block-end: 20px;
    margin-block-start: 20px;
  }
  
  .number {
    font-size: 25px;
  }
  
  .number .tel {
    font-size: 20px;
  }
  
  .popup__box {
    display: flex;
  }
  
  .places-list__gallery {
    inline-size: 450px;
  }
  
  .popup__pay {
    margin-inline-start: 10%;
    margin-block-start: 80px;
    font-size: 35px;
  }
}

@media (min-width: 414px) and (max-width: 825px) {
  .popup-filter {
    align-items: end;
    justify-content: center;
  }

  .popup {
    padding: 3%;
    block-size: 88dvb;
    inline-size: 100%;
    border-radius: 0;
    display: block;
    flex-direction: column;
  }
  
  .popup__box {
    margin-block-start: 10px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .title-box {
    display: flex;
    font-size: 35px;
    margin-block-end: 10px;
    margin-block-start: 30px;
  }
  
  .number {
    font-size: 27px;
    margin-block-end: 10px;
  }
  
  .number .tel {
    font-size: 23px;
  }
  
  .popup__close {
    display: none;
  }
  
  .places-list__gallery {
    block-size: 370px;
    inline-size: 100%;
    border-radius: 20px;
  }
  
  .popup__pay {
    margin-block-start: 95px;
    font-size: 35px;
  }
  
  .popup__image {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
}

@media (min-width: 389px) and (max-width: 413px) {
  .popup-filter {
    align-items: end;
    justify-content: center;
  }

  .popup {
    padding: 3%;
    block-size: 88dvb;
    inline-size: 100%;
    border-radius: 0;
    display: block;
    flex-direction: column;
  }
  
  .popup__box {
    margin-block-start: 10px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .title-box {
    display: flex;
    font-size: 34px;
    margin-block-end: 10px;
    margin-block-start: 30px;
  }
  
  .number {
    font-size: 24px;
    margin-block-end: 0;
  }
  
  .number .tel {
    font-size: 21px;
  }
  
  .popup__close {
    display: none;
  }
  
  .places-list__gallery {
    block-size: 330px;
    inline-size: 100%;
    border-radius: 20px;
  }
  
  .popup__pay {
    margin-block-start: 130px;
    font-size: 34px;
  }
}

@media (min-width: 374px) and (max-width: 388px) {
  .popup-filter {
    align-items: end;
  }

  .popup {
    padding: 3%;
    block-size: 88dvb;
    inline-size: 100%;
    border-radius: 0;
    display: block;
    flex-direction: column;
  }
  
  .popup__box {
    margin-block-start: 10px;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .title-box {
    display: flex;
    font-size: 32px;
    margin-block-end: 10px;
    margin-block-start: 10px;
  }
  
  .number {
    font-size: 22px;
    margin-block-end: 0;
  }
  
  .number .tel {
    font-size: 17px;
  }
  
  .popup__close {
    display: none;
  }
  
  .places-list__gallery {
    block-size: 330px;
    inline-size: 100%;
    border-radius: 20px;
  }
  
  .popup__pay {
    margin-block-start: 20px;
    font-size: 32px;
  }
  
  .popup__image {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
  }
}