@import url('../fonts/fonts.css');
@import url('../styles/globals.css');
@import url('../styles/variables.css');
@import url('../styles/cards.css');
@import url('../styles/places-list.css');
@import url('../styles/header.css');
@import url('../styles/menu.css');
@import url('../styles/florist-info.css');
@import url('../styles/about-us.css');
@import url('../styles/footer.css');
@import url('../styles/popup.css');
@import url('../styles/popup_is-animated.css');
@import url('../styles/popup_is-opened.css');


.page {
  font-family: var(--font), sans-serif;
  background-color: rgba(231, 233, 241, 1);
  color: var(--text-color);
}

@media (min-width: 374px) and (max-width: 825px) {
  .main {
    width: 90%;
    margin-inline: 5%;
  }
}
