@import url('../fonts/fonts.css');
@import url('../styles/globals.css');
@import url('../styles/variables.css');
@import url('../styles/cards.css');
@import url('../styles/places-list.css');
@import url('../styles/header.css');
@import url('../styles/main__menu.css');


.page {
  font-family: var(--font), sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
/*Секция main*/

/*Секция меню бургеров*/

.burger-menu {
  margin-block-start: 50px;
}

.burger-menu__title {
  font-size: var(--big-font-size);
  font-weight: var(--bold);
  margin-block-end: 32px;
}

.burger-menu__list {
  padding-inline-start: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 270px);
  gap: 20px;
  block-size: 70dvb;
  overflow: auto;
  scrollbar-width: none
}

.burger-menu__list-item {
  block-size: 411px;
}

.burger-menu__image {
  block-size: 220px;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
  user-select: none;
}

.burger-menu__list-item:nth-child(5) .burger-menu__image {
  inline-size: 276px;
}

.burger-menu__info {
  margin-block-start: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  user-select: none;
}

.burger-price {
  font-size: var(--middle-font-size);
  font-weight: var(--bold);
}

.burger-name {
  font-size: var(--mini-font-size);
  font-weight: var(--regular);
}

.burger-gramm {
  padding-block-start: 21px;
  font-size: var(--mini-font-size);
  font-weight: var(--bold);
  color: var(--gramm-color);
  opacity: 0.4;
}

.burger-menu__button {
  margin-block-start: 20px;
  margin-inline-start: 85px;
  block-size: 40px;
  border-radius: 50px;
  padding: 8px 14px;
}

.burger-menu__button-text {
  font-size: var(--mini-font-size);
  font-weight: var(--regular);
}

.footer {
  margin-block-start: 100px;
}

.address {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 40px;
}

.left-footer__logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.left-footer__title {
  font-size: var(--big-font-size);
  color: var(--logo-footer-color)
}

.left-footer__text {
  display: grid;
  gap: 5px;
  margin-block-start: 50px;
}

.center-footer {
  padding-block-start: 90px;
  padding-inline-start: 150px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.common-footer__title {
  font-size: var(--middle-font-size);
  font-weight: var(--regular);
  line-height: 24px;
}

.center-footer__tel {
  padding-block-end: 10px;
  pointer-events: all;
}

.tel {
  position: relative;
  display: inline-block;
  font-size: var(--mini-font-size);
  font-weight: var(--regular);
}

.right-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block-start: 90px;
}

.right-footer__links {
  display: flex;
  gap: 15px;
}